header{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar{
    display: flex;
    height: 75px;
    width: 800px;
    justify-content: space-between;
    align-items: center;
}
#navbar a {
    text-decoration: none;
}
#navbar a h1{
    color: white;
    line-height: 75px;
    font-size: 2rem;
}
#navbar .nav-items{
    display: flex;
    justify-content: center;
}
#navbar .nav-items a{
    width: 120px;
    color: #aaa;
}
#navbar .nav-items a:nth-child(1){
    color: #fff;
}
#navbar .nav-items a:hover{
    color: white;
}

/* Body */
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Start */
#body .container-first{
    width: 800px;
    height: 250px;
    background-image: url(/images/banner.jpg);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#body .container-first h2{
    display: inline-block;
    font-size: 80px;
    color: white;
    background: black;
    padding: 30px;
    opacity: 0.4;
    font-weight: 400;
}
#body .container-second{
    width: 800px;
    display: flex;
    justify-content: space-between;
}
#body .container-second .left{
    display: flex;
    flex-direction: column;
}
#body .container-second .left .title{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
#body .container-second .left .title h1{
    font-size: 24px;
}

#body .container-second .left p{
    line-height: 20px;
    font-size: 14px;
    margin-top: 20px;
    color: #999;
}
#body .container-second .left a{
    margin-top: 1rem;
    text-decoration: none;
    width: 110px;
    padding: 15px;
    color: white;
    background-color: #333;
}

#body .container-second .right{
    display: flex;
    flex-direction: column;
    border: 1px solid #bbb;
    background: white;
    padding: 30px;
    margin: 40px 30px;
}
#body .container-second .right h3{
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
#body .container-second .right p{
    line-height: 20px;
    font-size: 14px;
    margin-top: 20px;
    color: #999;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    background-image: url(/images/bg03.png);
}
footer .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
footer .footer input{
    height: 40px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
    font-size: 20px;
    /* background-image: url(/images/magnifier.jpg);
    background-position: right;
    background-repeat: no-repeat; */
    padding: 5px 10px;
}
footer .footer a{
    height: 40px;
    border-radius: 0 20px 20px 0;
    font-size: 20px;
}
footer .footer img{
    height: 40px;
    border: 1px solid black;
    border-left: transparent;
    border-radius: 0 20px 20px 0;
    font-size: 20px;
}