#navbar{
    width: 100%;
}
#navbar .nav-items a{
    display: none;
}
#body .container-first{
    width: 100%;
}
#body .container-first a h2{
    display: none;
}

#body .container-second .left{
    width: 100%;
    margin-left: 20%;
}
#body .container-second .left p{
    width: 70%;
}
#body .container-second .right{
    display: none;
}

footer .footer{
    width: 60%;
}