#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 5em;
}
#navbar a{
    text-decoration: none;
}
#navbar a h1{
    color: #000;
}
#navbar .nav-link{
    margin: 0 1em;
    line-height: 1.5;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}
#navbar .nav-link:hover{
    color: white;
    background: #e95c3c6e;
}
#navbar .nav-link:nth-child(1){
    color: white;
    background: #e95d3c;
}

/* Banner */
#banner{
    width: 100%;
    height: 250px;
    background-image: url(/images/banner.jpg);
    background-size:cover ;
}

/* Content */
#content{
    display: flex;
    justify-content: center;
}

/* Left Content */
#content .left{
    margin: 2em 5em;
    border-right: 1px solid #999;
    padding-right: 1em;
    width: 450px;
}
#content .left h2{
    font-weight: 400;
}
#content .left h4{
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 2em;
}
#content .left p{
    font-size: 0.8em;
    line-height: 1.8;
    margin-bottom: 2em;
}
#content .left p a{
    color: #e95d3c;
}

/* Right Content */
#content .right{
    margin: 2em 5em;
}
#content .right h2{
    font-weight: 400;
}
#content .right table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-size: 0.8em;
    margin: 2em auto;
}

#content .right table thead{
    border: 1px solid #ccc;
    background: #cfe7b3;
    color: #7d9561;
}
#content .right table thead tr,th{
    border: 1px solid #ccc;
    padding: 5px 15px;
}

#content .right table tr:nth-child(2n){
    border: 1px solid #ccc;
    background: #f0f9e4;
}
#content .right table td{
    border: 1px solid #ccc;
    padding: 5px 15px;
}

#content .right table tr{
    border: 1px solid #ccc;
    padding: 5px 15px;
}
#content .right table tbody tr td:nth-child(2) p:nth-child(1){
    color: black;
}
#content .right table tbody tr td:nth-child(2) p:nth-child(2){
    opacity: 0.6;
    font-weight: 300;
}

#content .right table tbody tr td:nth-child(3){
    font-weight: 700;
}

#content .right table tbody tr td:nth-child(4) p:nth-child(1){
    color: black;
}
#content .right table tbody tr td:nth-child(4) p:nth-child(2){
    font-weight: 300;
    opacity: 0.6;
}
#content .right table tbody tr td:nth-child(5) p:nth-child(1){
    color: black;
}
#content .right table tbody tr td:nth-child(5) p:nth-child(2){
    font-weight: 300;
    opacity: 0.6;
}

#content .right table tbody tr td:nth-child(6) a{
    display: inline-block;
    margin: 0 40%;
}